/* scaffolding */

body {
	min-width: 320px;
}

a,
a:hover {
	text-decoration: none;
}

:hover, :active, :focus {
	outline: none !important;
}

/**/



/* .header */

.header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

.navbar {
	padding: 0;
}

/* .navbar-toggler */

.navbar-toggler {
	z-index: 1;

	height: 70px;
	margin: 0;
	padding: 0;

	border: none;
	border-radius: none;
	
	cursor: pointer;
}

.navbar-toggler span {
	display: block;
	width: 25px;
	height: 3px;
	margin-bottom: 4px;

	background: #fff;
	
	transition: all 250ms linear;

	cursor: pointer;
}

.navbar-toggler[aria-expanded="true"] {
	margin-left: auto;
}

.navbar-toggler[aria-expanded="true"] .icon-bar_1 {
	transform: rotate(45deg) translateY(5px) translateX(5px);
}

.navbar-toggler[aria-expanded="true"] .icon-bar_2 {
	opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .icon-bar_3 {
	transform: rotate(-45deg) translateY(-5px) translateX(5px);
}

@media screen and (min-width: 992px) {

	.navbar-toggler {
		height: 150px;
	}

	.navbar-toggler span {
		width: 30px;
		height: 4px;
		margin-bottom: 6px;
	}

	.navbar-toggler[aria-expanded="true"] .icon-bar_1 {
		transform: rotate(45deg) translateY(7px) translateX(7px);
	}

	.navbar-toggler[aria-expanded="true"] .icon-bar_2 {
		opacity: 0;
	}

	.navbar-toggler[aria-expanded="true"] .icon-bar_3 {
		transform: rotate(-45deg) translateY(-7px) translateX(7px);
	}

}

.navbar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;

	background-color: #000;
}

.navbar-collapse {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.navbar-collapse.collapsing {
	height: 600px;

	transform: scale(0);

	transition: transform 250ms ease-in-out;
}

.navbar-collapse.show {
	height: 600px;

	transform: scale(1);

	transition: transform 250ms ease-in-out;
}

@media screen and (min-width: 992px) {

	.navbar-nav {
		height: 100vh;
	}

	.navbar-collapse.collapsing {
		height: 100vh;
	}

	.navbar-collapse.show {
		height: 100vh;
	}

}

.nav-item {
	margin-bottom: 30px;
}

.nav-link {
	padding: 0;

	font-size: 24px;
	color: #fff;
	text-transform: uppercase;

	transition: color 150ms ease-in-out;
}

.nav-link:hover {
	color: #d87843;
}

@media screen and (min-width: 992px) {

	.nav-link {
		font-size: 30px;
	}

}

/**/

/**/



/* .intro */

.intro {
	background-image: url(../img/intro.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.intro__wrap {
	position: relative;
}

.fullscreen {
	height: 600px;
}

@media screen and (min-width: 992px) {

	.fullscreen {
		height: 100vh;
	}

}

.intro__cont {
	color: #fff;
	text-align: center;
}

.intro__title {
	position: relative;

	margin-bottom: 40px;
	padding-bottom: 55px;

	font-weight: bold;
	font-size: 36px;
	text-transform: uppercase;
}

.intro__title::after {
	content: "";

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	width: 85px;
	height: 2px;

	background-color: #fff;
}

.intro__descr {
	font-size: 18px;
	line-height: 30px;
}

@media screen and (min-width: 992px) {

	.intro__title {
		font-size: 48px;
	}

	.intro__descr {
		font-size: 22px;
	}

}

.scroll {
	position: absolute;
	bottom: 55px;

	width: 30px;
	height: 48px;

	background-image: url('../img/scroll.svg');

	cursor: pointer;
}

/**/