/* scaffolding */

@font-face {
	font-family: 'BigJohn';
	src:	url('../fonts/BigJohn.woff2') format('woff2'),
			url('../fonts/BigJohn.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Amble-Light';
	src:	url('../fonts/Amble-Light.woff2') format('woff2'),
			url('../fonts/Amble-Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Amble-Regular';
	src:	url('../fonts/Amble-Regular.woff2') format('woff2'),
			url('../fonts/Amble-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Amble-Bold';
	src:	url('../fonts/Amble-Bold.woff2') format('woff2'),
			url('../fonts/Amble-Bold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'slim_joeregular';
	src:	url('../fonts/slim_joe-webfont.woff2') format('woff2'),
		url('../fonts/slim_joe-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	min-width: 320px;

	font-family: 'Amble-Light';
	font-size: 22px;
	line-height: 36px;
	color: #222;
}

ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

a,
a:hover {
	text-decoration: none;
}

:hover, :active, :focus {
	outline: none !important;
}

/**/



/* .section-gap */

.section-gap {
	padding: 80px 0;
}

.section-gap_2 {
	padding: 160px 0;
}

@media screen and (min-width: 992px) {

	.section-gap {
		padding: 120px 0;
	}

	.section-gap_2 {
		padding: 200px 0;
	}

}

/**/



/* .section-title */

.section-title {
	position: relative;

	margin-bottom: 50px;

	font-family: 'BigJohn';
	font-size: 24px;
	text-transform: uppercase;
}

.section-descr {
	margin: 0;

	font-size: 18px;
}

@media screen and (min-width: 992px) {

	.section-title {
		margin-bottom: 70px;
		padding-bottom: 70px;

		font-size: 30px;
	}

	.section-title::after {
		content: "";

		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;

		width: 85px;
		height: 2px;
		
		background: #222;
	}

	.section-descr {
		font-size: 22px;
	}

}

/**/



/* .section-btn */

.section-btn {
	width: 290px;
	padding: 15px 30px;

	font-family: 'Amble-Bold';
	font-size: 24px;
	line-height: 30px;
	color: #fff;
	text-align: center;

	border: 3px solid #fff;
}

.section-btn:hover {
	color: #222;

	background-color: #fff;
}

.section-btn:active {
	color: #22222230;
}

@media screen and (min-width: 992px) {

	.section-btn {
		width: auto;
		padding: 35px 110px;

		font-size: 30px;
	}

}

/**/



/* .btn */

.btn {
	display: block;
	padding: 15px;

	font-family: 'Amble-Bold';
	font-size: 24px;
	line-height: 30px;
	color: #222;

	border: 3px solid #000;
	border-radius: 0;

	transition: none;
}

.btn:hover {
	color: #fff;

	background-color: #000;
}

.btn:active {
	color: rgba(255, 255, 255, 0.3);
}

/**/



/* .header */

.header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

.navbar {
	padding: 0;
}

/* .navbar-toggler */

.navbar-toggler {
	z-index: 1;

	height: 70px;
	margin: 0;
	padding: 0;

	border: none;
	border-radius: none;
	
	cursor: pointer;
}

.navbar-toggler span {
	display: block;
	width: 25px;
	height: 3px;
	margin-bottom: 4px;

	background: #fff;
	
	transition: all 250ms linear;

	cursor: pointer;
}

.navbar-toggler[aria-expanded="true"] {
	margin-left: auto;
}

.navbar-toggler[aria-expanded="true"] .icon-bar_1 {
	transform: rotate(45deg) translateY(5px) translateX(5px);
}

.navbar-toggler[aria-expanded="true"] .icon-bar_2 {
	opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .icon-bar_3 {
	transform: rotate(-45deg) translateY(-5px) translateX(5px);
}

@media screen and (min-width: 992px) {

	.navbar-toggler {
		height: 150px;
	}

	.navbar-toggler span {
		width: 30px;
		height: 4px;
		margin-bottom: 6px;
	}

	.navbar-toggler[aria-expanded="true"] .icon-bar_1 {
		transform: rotate(45deg) translateY(7px) translateX(7px);
	}

	.navbar-toggler[aria-expanded="true"] .icon-bar_2 {
		opacity: 0;
	}

	.navbar-toggler[aria-expanded="true"] .icon-bar_3 {
		transform: rotate(-45deg) translateY(-7px) translateX(7px);
	}

}

.navbar-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;

	background-color: #000;
}

.navbar-collapse {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.navbar-collapse.collapsing {
	height: 600px;

	transform: scale(0);

	transition: transform 250ms ease-in-out;
}

.navbar-collapse.show {
	height: 600px;

	transform: scale(1);

	transition: transform 250ms ease-in-out;
}

@media screen and (min-width: 992px) {

	.navbar-nav {
		height: 100vh;
	}

	.navbar-collapse.collapsing {
		height: 100vh;
	}

	.navbar-collapse.show {
		height: 100vh;
	}

}

.nav-item {
	margin-bottom: 30px;
}

.nav-link {
	padding: 0;

	font-family: 'BigJohn';
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
}

.nav-link:hover {
	color: #d87843;
}

@media screen and (min-width: 992px) {

	.nav-item {
		margin-bottom: 40px;
	}

	.nav-link {
		font-size: 30px;
	}

}

/**/

/**/



/* .intro */

.intro {
	background-image: url(../img/intro.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.intro__wrap {
	position: relative;
}

.fullscreen {
	height: 600px;
}

@media screen and (min-width: 992px) {

	.fullscreen {
		height: 100vh;
	}

}

.intro__cont {
	color: #fff;
	text-align: center;
}

.intro__title {
	position: relative;

	margin-bottom: 40px;
	padding-bottom: 55px;

	font-family: 'BigJohn';
	font-size: 36px;
	text-transform: uppercase;
}

.intro__title::after {
	content: "";

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	width: 85px;
	height: 2px;

	background-color: #fff;
}

.intro__descr {
	font-family: 'Amble-Regular';
	font-size: 18px;
	line-height: 30px;
}

@media screen and (min-width: 992px) {

	.intro__title {
		font-size: 48px;
	}

	.intro__descr {
		font-size: 22px;
	}

}

.scroll {
	position: absolute;
	bottom: 55px;

	width: 30px;
	height: 48px;

	background-image: url('../img/scroll.svg');

	cursor: pointer;
}

/**/



/* .creativity */

.creativity {
	background-image: url('../img/creativity.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/**/


/* .portfolio */

.sort-by {
	margin-bottom: 85px;
}

.sort-by__item {
	padding: 0 15px;

	font-family: 'slim_joeregular';
	font-size: 18px;
	text-transform: uppercase;

	cursor: pointer;
}

.sort-by__item.active {
	font-family: 'BigJohn';
}

.sort-by__item.active:hover {
	color: #222;
}

.sort-by__item:hover {
	color: #d87843;
}

.projects {
	margin-bottom: 60px;
}

.project {
	position: relative;

	margin-bottom: 20px;
}

.project:before {
	content: "";

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0);

	transition: background-color 300ms ease-in-out;
}

.project:hover:before {
	background-color: rgba(0, 0, 0, 0.75);
	border: 8px solid #000;
}

.project__wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: -30px;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: bottom 250ms ease-in-out;

	visibility: hidden;
}

.project:hover .project__wrap {
	bottom: 30px;

	visibility: visible;
}

.project__title {
	position: relative;

	margin-bottom: 30px;

	font-family: 'Amble-Regular';
	font-weight: normal;
	font-size: 24px;
	color: #fff;
	text-align: center;
}

.project__title::after {
	content: "";

	position: absolute;
	bottom: -30px;
	left: 50%;
	transform: translateX(-50%);

	width: 50px;
	height: 2px;

	background-color: #d87843;
}

.project__descr {
	margin-bottom: 20px;

	font-family: 'BigJohn';
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

/**/



/* .help */

.help {
	background-image: url('../img/help.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/**/



/* .clients */

.clients {
	background-color: #f4f4f4;
}

.clients-slider .item {
	padding: 35px 50px;
}

/**/



/* .about */

.about.section-gap {
	padding-bottom: 70px;
}

.about .section-descr {
	margin-bottom: 70px;
}

.about__item {
	position: relative;

	display: block;
	margin-bottom: 20px;
}

.about__item::before {
	content: "";

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0);

	transition: background-color 300ms ease-in-out;
}

.about__item::after {
	content: "";

	position: absolute;
	top: 5px;
	right: 15px;

	width: 32px;
	height: 32px;

	background-image: url('../img/link.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	transition: top 250ms ease-in-out;

	visibility: hidden;
}

.about__item:hover::before {
	background-color: rgba(0, 0, 0, 0.5);
	border: 4px solid #000;
}

.about__item:hover::after {
	top: 15px;

	visibility: visible;
}

.about__wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: -20px;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: flex-end;

	transition: bottom 250ms ease-in-out;

	visibility: hidden;
}

.about__item:hover .about__wrap {
	bottom: 0;

	visibility: visible;
}

.about__title {
	margin-bottom: 10px;

	font-family: 'BigJohn';
	font-size: 24px;
	color: #fff;
	text-align: center;
}

.about__descr {
	margin-bottom: 15px;

	font-weight: bold;
	font-size: 18px;
	color: #fff;
	text-align: center;
}

.vacancy {
	position: relative;

	display: block;
}

.vacancy__wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #000;
}

.vacancy__title {
	position: relative;

	margin-bottom: 40px;
	padding-bottom: 50px;

	font-family: 'BigJohn';
	font-size: 24px;
	line-height: 36px;
	color: #222;
	text-align: center;
}

.vacancy__title::after {
	content: "";

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	width: 85px;
	height: 2px;

	background-color: #222;
}

.vacancy .btn {
	width: calc(100% - 80px);
	margin: 0 auto;
}

/**/